{% load static %}

<div class="col-lg-4 col-md-6 portfolio-item filter-cc">
  <div class="portfolio-wrap">
    <img src="{% static 'yurilima/assets/img/portfolio/c++/homefi/p4.jpg' %}" class="img-fluid" alt="homifiAX">
    <div class="portfolio-info">
      <h4><a href="https://github.com/Yuri-Lima/Link-House" title="GitHub">Automation House</a></h4>
      <p>Homefi AX</p>
      <div class="portfolio-links">
        <a href="{% static 'yurilima/assets/img/portfolio/c++/homefi/p4.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Homefi AX"><i class="bx bx-plus bx-tada"></i></a>
        <!-- <a href="{% url '#portofolio' %}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Decabot Details"><i class="bx bx-link"></i></a> -->
      </div>
    </div>
  </div>
</div>