{% load static %}

<div class="col-lg-4 col-md-6 portfolio-item filter-cc">
  <div class="portfolio-wrap">
    <img src="{% static 'yurilima/assets/img/portfolio/c++/autocore/p5.jpg' %}" class="img-fluid" alt="autocore">
    <div class="portfolio-info">
      <h4><a href="https://github.com/Yuri-Lima/AutoCore_Robotica" title="GitHub">Teach Time</a></h4>
      <p>Small Codes</p>
      <div class="portfolio-links">
        <a href="{% static 'yurilima/assets/img/portfolio/c++/autocore/p5.jpg' %}" data-gall="portfolioGallery" class="venobox" title="AutoCore Robotic"><i class="bx bx-plus"></i></a>
        <a href="https://www.youtube.com/channel/UCIAblziFHvu3ekbX8Ub2PeA" target="_blank" class="youtube"><i class="bx bxl-youtube bx-tada" title="YouTube"></i></a>
        <!-- <a href="{% url '#portofolio' %}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Decabot Details"><i class="bx bx-link"></i></a> -->
      </div>
    </div>
  </div>
</div>