{% load static %}

<div class="col-lg-4 col-md-6 portfolio-item filter-cc">
  <div class="portfolio-wrap">
    <img src="{% static 'yurilima/assets/img/portfolio/c++/abacoSE/p6.jpg' %}" class="img-fluid" alt="autocore">
    <div class="portfolio-info">
      <h4><a href="https://kontus.com.br/" title="WebSite">Counter Water</a></h4>
      <p>kontus Technology</p>
      <small><p>Abaco SE</p></small>
      <div class="portfolio-links">
        <a href="{% static 'yurilima/assets/img/portfolio/c++/abacoSE/p6.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Abaco SE"><i class="bx bx-plus"></i></a>
        <a href="https://github.com/Yuri-Lima/ATRobotics" target="_blank" class="github"><i class="bx bxl-github bx-tada" title="GitHub"></i></a>
        <!-- <a href="{% url '#portofolio' %}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Decabot Details"><i class="bx bx-link"></i></a> -->
      </div>
    </div>
  </div>
</div>