{% extends 'blog/base.html' %}

{% block content %}



<div class="media-body">
    <small class="text-muted"><b>Hastag: </b><a class="mr-2" href="#">{{object.hashtag}}</a></small>
    <small class="text-muted"><b>Created by: </b><a class="mr-2" href="#">{{object.created_by|capfirst}}</a></small>
    <small class="text-muted"><b>Posted: </b><a class="mr-2" href="#">{{object.painel_date_posted|date:'N d, Y H:i:s'}}</a></small>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="boder-bottom mb-6">Blog Post</legend> 
                
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-infor" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}

<!-- <a href="{% url 'painel-add' object.pk %}"><button type="button" class="btn btn-outline-primary"></button> -->