{% extends 'blog/base.html' %}

{% block content %}

{% for painel in paineis %}
    <small class="text-muted"><b>Hastag: </b><a class="mr-2" href="{% url 'painel-detail' painel.hashtag %}">{{painel.hashtag}}</a></small>
    <small class="text-muted"><b>Created by: </b><a class="mr-2" href="#">{{painel.created_by|capfirst}}</a></small>
    <small class="text-muted"><b>Posted: </b><a class="mr-2" href="#">{{painel.painel_date_posted|date:'N d, Y H:i:s'}}</a></small>
    <article class="media content-section">
        {% for posts_by_painel in painel.post_set.all %}
            <div class="container">
                <article class="media content-section">
                    <img class='rounded-cicle article-img' src="{{ posts_by_painel.author.profile.image.url }}" alt="profile_img">
                    <div class="media-body">
                    <div class="article-metadata">
                        <small class="text-muted"><b>Author: <a class="mr-2" href="{% url 'user-posts' posts_by_painel.author.username %}">{{ posts_by_painel.author|capfirst }}</a></b></small>
                        <small class="text-muted"><b>Posted: </b> {{ posts_by_painel.date_posted|date:'N d, Y H:i:s' }}</small>
                        <small class="text-muted"><b>Last Updated: </b> {{ posts_by_painel.date_updated|date:'N d, Y H:i:s' }}</small>
                    </div>
                    <h2><a class="article-title" href="{{posts_by_painel.get_absolute_url}}">{{ posts_by_painel.title }}</a></h2>
                    <p class="article-content">{{ posts_by_painel.content|linebreaks|truncatewords:30 }}</p>
                    </div>
                </article>
            </div>
        {% endfor %}
    </article>
{% endfor %}
{% endblock content %}