{% extends 'blog/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex p-2">
    <form method="POST" enctype="multipart/form-data">
        <fieldset class="form-group">
            {% crispy form %}
            {{ post_form.management_form|crispy }}
            {{ post_form.non_form_errors|crispy }}
            {% crispy post_form post_formhelper %}
        </fieldset>
        <input type="submit" name="submit" value="Save" class="btn btn-outline-primary" id="submit-save">
        <div class="p-2 mb-auto" style="height: 100px;"></div>
    </form>
<div>
{% endblock content %}


