{% extends 'blog/index.html' %}


{% block content %}
{% for painel in paineis %}
<div class="d-flex p-0 bg-secondary text-white rounded"> 
    <div class="p-1 mr-auto align-self-center">
        <small class="text-white"><b>Hastag: </b><a class="text-white mr-2" href="{% url 'painel-detail' painel.hashtag %}">{{painel.hashtag}} <i class="bx bx-link bx-tada"></i></a></small>
        <small class="text-white"><b>Created by: </b><a class="text-white mr-2" href="{% url 'user-painel' painel.created_by.username %}">{{painel.created_by.username|capfirst}} <i class="bx bx-link bx-tada"></i></a></small>
        <small class="text-white"><b>Posted: </b><a class="text-white mr-2" href="#">{{painel.painel_date_posted|date:'N d, Y H:i:s'}}</a></small>
    </div>
    {% if painel.created_by.username == user %}
    <div class="ml-auto p-1 align-self-center">
        <small><a class="btn btn-info btn-sm mt-0 mb-0 p-1" href="{% url 'painel-update' painel.id %}">Update</a></small> 
    </div>
    <div class="ml-2 p-1 align-self-center">
        <small><a class="btn btn-danger btn-sm mt-1 mb-1 p-1" href="{% url 'painel-delete' painel.id %}">Delete</a></small>
    </div>
    {% endif %}
</div>

<div class="row">
    {% for posts_by_painel in painel.post_set.all %}
        <div class="col-12 col-lg-6 ">
            <div class="d-flex "> <!-- interno -->
                <article class="'media">
                    ​<picture>
                        <img class='rounded mx-auto d-block article-img' src="{{ posts_by_painel.author.profile.image.url }}" style='width:75px; height:auto;' alt="profile_img">
                    </picture>
                    <!-- style='width: 75px; height: auto;' -->
                    <div class="media-body">
                        <div class="article-metadata">
                            <ul class="list-inline">
                                <li class="list-inline-item"><small class="text-muted"><b>Author: <a class="mr-2" href="{% url 'user-posts' posts_by_painel.author.username %}">{{ posts_by_painel.author.username|capfirst }} <i class="bx bx-link bx-tada"></i></a></b></small></li>
                                <!-- <li class="list-inline-item"><small class="text-muted"><b>Posted: </b> {{ posts_by_painel.date_posted|date:'N d, Y H:i:s' }}</small></li> -->
                                <li class="list-inline-item"><small class="text-muted"><b>Last Updated: </b> {{ posts_by_painel.date_updated|date:'N d, Y H:i:s' }}</small></li>
                            </ul>
                        </div>
                        <h5><a class="article-title" href="{{posts_by_painel.get_absolute_url}}">{{ posts_by_painel.title|title }}</a></h5>
                        <!-- <p class="article-content">{{ posts_by_painel.content|linebreaks|truncatewords:20 }}</p> -->
                        <p class="article-content">{{ posts_by_painel.content_post|safe|linebreaks|truncatewords_html:25|cut:"  "}}</p>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}
</div>

{% endfor %}

<!-- Paginations -->
{% if is_paginated %}

{% if page_obj.has_previous %}<!-- Esse o objeto que nossa Views passa dentro do nosso template -->
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}<!-- page_obj.number e o numero atual da pagina -->
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}

{% endfor %}

{% if page_obj.has_next %}<!-- Esse o objeto que nossa Views passa dentro do nosso template -->
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a> 
    <a class="btn btn-outline-info mb-4" href="?page=last">Last</a> <!-- page_obj.pagintor.num_pages Retorna o numero total de paginas -->
{% endif %}

{% endif %}

{% endblock content %}






<!-- <div class="container ">
    <div class="row ">
        <div class="col-12 col-lg-12 "> -->
            <!--<div class="container content-section">  externo -->
                <!-- <div class="row">
                    {% for posts_by_painel in painel.post_set.all %}
                    <div class="col-12 col-lg-6 "> -->
                        <!-- <div class="media content-section "> interno -->
                            <!-- <article class="'media">
                                ​<picture>
                                    <img class='rounded mx-auto d-block article-img' src="{{ posts_by_painel.author.profile.image.url }}"  alt="profile_img">
                                </picture> -->
                                <!-- style='width: 75px; height: auto;' -->
                                <!-- <div class="media-body">
                                    <div class="article-metadata">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><small class="text-muted"><b>Author: <a class="mr-2" href="{% url 'user-posts' posts_by_painel.author.username %}">{{ posts_by_painel.author|capfirst }}</a></b></small></li> -->
                                            <!-- <li class="list-inline-item"><small class="text-muted"><b>Posted: </b> {{ posts_by_painel.date_posted|date:'N d, Y H:i:s' }}</small></li> -->
                                            <!-- <li class="list-inline-item"><small class="text-muted"><b>Last Updated: </b> {{ posts_by_painel.date_updated|date:'N d, Y H:i:s' }}</small></li>
                                        </ul>
                                    </div>
                                    <h5><a class="article-title" href="{{posts_by_painel.get_absolute_url}}">{{ posts_by_painel.title }}</a></h5>
                                    <p class="article-content">{{ posts_by_painel.content|linebreaks|truncatewords:20 }}</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>  
    </div>
</div> -->