<tr>
    <th>
        <label for="id_post_set-0-title">Title:</label>
    </th>
    <td>
        <input type="text" name="post_set-0-title" value="Yuri Matos de Lima" maxlength="100" id="id_post_set-0-title">
    </td>
</tr>
<tr>
    <th>
        <label for="id_post_set-0-content">Content:</label>
    </th>
    <td>
        <textarea name="post_set-0-content" cols="40" rows="10" id="id_post_set-0-content">svdvc</textarea><br><span class="helptext">Write your Post</span>
    </td>
</tr>
<tr>
    <th>
        <label for="id_post_set-0-url">Url:</label>
    </th>
    <td>
        <input type="url" name="post_set-0-url" value="https://docs.djangoproject.com/en/3.1/topics/forms/modelforms/#model-formsets" maxlength="200" id="id_post_set-0-url">
        <br>
        <span class="helptext">Paste here the link, witch you saw that news?</span>
    </td>
</tr>
<tr>
    <th>
        <label for="id_post_set-0-contact_number">Contact number:</label>
    </th>
    <td><input type="text" name="post_set-0-contact_number" maxlength="20" id="id_post_set-0-contact_number"><br>
        <span class="helptext">If you have another way to comunicate.</span><input type="hidden" name="post_set-0-id" id="id_post_set-0-id">
        <input type="hidden" name="post_set-0-painel" id="id_post_set-0-painel">
    </td>
</tr>