



<input type="hidden" name="posts-TOTAL_FORMS" value="1" id="id_posts-TOTAL_FORMS">
<input type="hidden"name="posts-INITIAL_FORMS" value="0" id="id_posts-INITIAL_FORMS">
<input ty pe="hidden" name="posts-MIN_NUM_FORMS"value="0" id="id_posts-MIN_NUM_FORMS">
<input type="hidden" name="posts-MAX_NUM_FORMS" value="1"    id="id_posts-MAX_NUM_FORMS">
<tr>
    <th>
        <label for="id_posts-0-title">Title:</label>
    </th>
    <td>
        <input type="text" name="posts-0-title" value="NAIRA VIA ROMERO" maxlength="100" id="id_posts-0-title">
    </td>
</tr>
<tr>
    <th>
        <label for="id_posts-0-content">Content:</label>
    </th>
    <td>
        <textarea name="posts-0-content" cols="40" rows="10" id="id_posts-0-content">NAIRA VIA ROMERONAIRA VIA ROMERONAIRA VIA ROMERONAIRA VIA ROMERO</textarea>
        <br>
        <span clas s="helptext">Write your Post</span>
    </td>
</tr>
<tr>
    <th>
        <label for="id_posts-0-url">Url:</label>
    </th>
    <td>
        <input type="url" name="posts-0-url" value="https://docs.djangoproject.com/en/dev/topics/forms/formsets/" maxlength="200" id="id_posts-0-url">
        <br>
        <span class="helptext">Paste here the link, witch you saw that news?</span>
    </td>
</tr>
<tr>
    <th>
        <label for="id_posts-0-contact_number">Contact number:</label>
    </th>
    <td>
        <input typ e="text" name="posts-0-contact_number" maxlength="20" id="id_posts-0-contact_number">
        <br>
        <span class="helptext">If you have another way to comunicate.</span>
    </td>
</tr>
<tr>
    <th>
        <label for="id_posts-0-author">Author:</label>
    </th>
    <td>
        <select name="posts-0-author" id="id_posts-0-author">
            <option value="">---------</option>

            <option value="3">yuri</option>

            <option value="4" selected>naira</option>

            <option value="5">ramon</option>

        </select>
        <input type="hidden" name="posts-0-id" id="id_posts-0-id">
        <input type="hidden" n ame="posts-0-painel" id="id_posts-0-painel">
    </td>
</tr>

Request Post

<QueryDict: {
    'csrfmiddlewaretoken': [
        'W2AxRq1r3M5w97xL6gXHiJN4kvPcGJNwHrug7ywaX7J3fdkfLaH1WPjPXnEclHJv',
        'W2AxRq1r3M5w97xL6gXHiJN4kvPcGJNwHrug7ywaX7J3fdkfLaH1WPjPXnEclHJv',
        'W2AxRq1r3M5w97xL6gXHiJN4kvPcGJNwHrug7ywaX7J3fdkfLaH1WPjPXnEclHJv'
                ],

    'hashtag': ['#yurilima231'],
    'posts-TOTAL_FORMS': ['1', '1'],
    'posts-INITIAL_FORMS': ['0', '0'],
    'posts-MIN_NUM_FORMS': ['0', '0'],
    'posts-MAX_NUM_FORMS': ['1000', '1000'],
    'posts-0-title': ['NAIRA VIAROMERO'],
    'posts-0-content': ['self.request.POSTNAIRA VIA ROMERO'],
    'posts-0-url': ['https://docs.djangoproject.com/en/dev/topics/forms/formsets/'],
    'posts-0-id': [''],
    'posts-0-painel': [''],
    'submit': ['Save']
}>

