
<div class="col-md-3">
    <div class="card my-6">
        <h5 class="card-header">Hastags</h5>
        <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
                {% for painel in paineis %}
                <li>
                <a href="{% url 'painel-detail' painel.hashtag %}">{{painel.hashtag}}</a>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>