{% extends 'blog/base.html' %}

{% block content %}

{% for post in post_list %}

<div class="media-body">
    <small class="text-muted"><b>Hastag: </b><a class="mr-2" href="{% url 'painel-detail' post.painel.hashtag %}">{{post.painel.hashtag}}</a></small>
    <small class="text-muted"><b>Created by: </b><a class="mr-2" href="{% url 'user-painel' post.painel.created_by.username %}">{{post.painel.created_by|capfirst}}</a></small>
    <small class="text-muted"><b>Posted: </b><a class="mr-2" href="#">{{post.painel.painel_date_posted|date:'N d, Y H:i:s'}}</a></small>
</div>

{% endblock content %}

<!-- <a href="{% url 'painel-add' object.pk %}"><button type="button" class="btn btn-outline-primary"></button> -->