body {
    background: #ffffffbb;
    color: #000000;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #000000;
  }
  
  ul {
    margin: 0;
  }
  .col-md-8 h1{
    color: #cfc7c7;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  .site-header .navbar-nav .text-muted {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  /*
 * Footer
 */
.blog-footer {
  position: relative;
  padding: 2.5rem 0;
  color: rgb(107, 104, 104);
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .media .avatar-2 {
      width: 130px;
  }
}

@media (max-width: 767px) {
  .media .avatar-2 {
      width: 160px;
  }
}

.card img.rounded-circle {
  border-radius: 50%;
}