{% load static %}
{% load crispy_forms_tags %}

{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" itemprop="description" content="Convert a number to a word representation with numbers to words, numbers to euro currency.Very large numbers and many decimal places to American words converter. Figures to words converter." />
    <meta name="keywords" itemprop="keywords" content="numbers in words, converter, convert to words, large number names, check amount" />
    <meta name="author" content="YuriLimaSoup, YML" />

    <!-- Twitter: see https://dev.twitter.com/docs/cards/types/summary-card for details -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@YuriLima">
    <meta name="twitter:title" content="Numbers to Words Converter">
    <meta name="twitter:description" content="Convert a number to a word representation with numbers to words, numbers to euro currency.Very large numbers and many decimal places to American words converter. Figures to words converter.">
    <meta name="twitter:url" content="https://www.yurilima.com.br/yurilima/numberinword/">
    <!-- <meta name="twitter:image" content=""> -->
    <meta name="twitter:image:alt" content="Numbers to Words Converter">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %} ">
    
	<title>Numbers to Words Converter</title>
    <!-- Custom styles for this template don't touch-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/numberinwordmin.css'  %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<!-- Coded With Love By Mutiullah Samim-->
<body>
	<dvi class="container h-100">
	<div class="d-flex justify-content-center">
		<div class="card mt-5 col-md-4 animated bounceInDown myForm">
			<div class="card-header">
				<h4>Type The Number</h4>
			</div>
            <form method="POST">
                {% csrf_token %}
			    <div class="card-body">
					<div id="dynamic_container">
						<div class="input-group">
                            {{ form.management_form|crispy }}
                            {{ form.non_form_errors|crispy }}
                            {{ form|crispy }}
						</div>
                        <div class="footer">
                            <button class="btn btn-success btn-md float-left submit_btn m-3"><i class="fas fa-arrow-alt-circle-right"></i> Convert</button>
                        </div>
					</div>
			    </div>
            </form>
            {% if word %}
        <div class="card-footer">
            <p>Number{{number|pluralize}} Typed: {{number}}</p>
            <p>{{word}}</p>
        </div>
        {% endif %}
		</div>
	</div>
	</dvi>
</body>
</html>
{% endspaceless %}