{% load static %}

<div class="col-lg-4 col-md-6 portfolio-item filter-python">
  <div class="portfolio-wrap">
    <img src="{% static 'yurilima/assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
    <div class="portfolio-info">
      <h4>Web 3</h4>
      <p>Web</p>
      <div class="portfolio-links">
        <a href="{% static 'yurilima/assets/img/portfolio/portfolio-9.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
        <a href="{% url '#portofolio' %}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
      </div>
    </div>
  </div>
</div>