{% load mathfilters %}

<footer id="footer">
    <div class="container">
      <h3>Yuri Lima</h3>
      <p><q>Achieving the desired results gradually and reliably rather than quickly and spectacularly.</q></p>
      <div class="social-links">
        <a href="https://github.com/Yuri-Lima/" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.facebook.com/yurimatosdelima/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/treta.news.irlanda/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/yuri-lima-40118bb3/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        {% now "Y" as current_year %}
        &copy; Copyright <strong><span>2020-{{ current_year }}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>