

<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Yuri Lima</h1>
      <p>I'm <span class="typed" data-typed-items="Junior Developer, Freelancer"></span></p>
      <div class="social-links">
        <a href="https://github.com/Yuri-Lima/" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        {% comment %} <a href="https://www.facebook.com/yurimatosdelima/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a> {% endcomment %}
        {% comment %} <a href="https://www.instagram.com/treta.news.irlanda/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a> {% endcomment %}
        <a href="https://www.linkedin.com/in/yuri-lima-40118bb3/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section>