{% extends 'yurilimacv/base.html' %}
{% load static %}
{% block content %}
{% spaceless %}
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <!-- .nav-menu -->
    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#hero "><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <!-- <li><a href="#facts"><i class="bx bx-user"></i> <span>Facts</span></a></li> -->
        <!-- <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li> -->
        <li><a href="#portfolio"><i class="bx bx-book-content"></i> <span>Accomplishments</span></a></li>
        <!-- <li><a href="#services"><i class="bx bx-server"></i> <span>Services</span></a></li> -->
        <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        <li><a href="{% static 'yurilima/assets/img/portfolio/django/profile/CV.pdf' %}" target="_blank"><i class="bx bx-download"></i> <span>Print CV</span></a></li>
      </ul>
    </nav>
    <!-- End .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
    {% include 'yurilimacv/hero.html' %}
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
      {% include 'yurilimacv/about.html' %}
    <!-- End About Section -->

    <!-- ======= Facts Section ======= -->
      <!-- {% include 'yurilimacv/facts.html' %} -->
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
      {% include 'yurilimacv/skill.html' %}
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
      <!-- {% include 'yurilimacv/resume.html' %} -->
    <!-- End Resume Section -->

    <!-- ======= Portfolio/ACCOMPLISHMENTS Section ======= -->
      {% include 'yurilimacv/portofolio/base.html' %}
    <!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
      <!-- {% include 'yurilimacv/services.html' %} -->
    <!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
      <!-- {% include 'yurilimacv/testimonials.html' %} -->
    <!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
      {% include 'yurilimacv/contact.html' %}
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   {% include 'yurilimacv/footer.html' %}
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>
  {% endspaceless %}
{% endblock content %}