{% extends 'blog/index.html' %}

{% block content %}
<div class="bg-light border-0" style='height: 300px;' >
    <div class="d-flex flex-column">
        <div class="p-2"><q><p><b>Personal Painel Blog:</b> I am building an aplication to show post from hashtag. For while this is only a simple example, because my real intentions is create a new blog with totaly new propuse. For more details about it you can take a look at on <a href="https://www.yurilima.com.br/">https://www.yurilima.com.br/</a> . There you can follow week by week. Some new features is being added.</p></q></div>
        <div class="p-2"><b>Thoughts</b></div>
        <ul>
            <li><div class="p-2"><q><b><small>Read and learning so much more, don't just playaround, go slowly but surely.</small></b></q></div></li>
            <li><div class="p-2"><q><b><small>Achieving the desired results gradually and reliably rather than quickly and spectacularly.</small></b></q></div></li>
            <li><div class="p-2"><q><b><small>Leia e aprenda cada vez mais, não fique so na brincadeira, avance aos poucos, mas avance.</small></b></q></div></li>
        </ul>
        
        
        
    </div>
</div>
    
{% endblock content %}
