{% extends 'blog/base.html' %}

{% block content %}
    <h1>Fake No More</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img class='rounded-cicle article-img' src="{{ post.author.profile.image.url }}" alt="profile_img">
            <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted"><b>Author: </b><a class="mr-2" href="#">{{ post.author|capfirst }}</a></small>
                <small class="text-muted"><b>Posted: </b> {{ post.date_posted|date:'N d, Y H:i:s' }}</small>
                <small class="text-muted"><b>Last Updated: </b> {{ post.date_updated|date:'N d, Y H:i:s' }}</small>
            </div>
            <h2><a class="article-title" href="{{post.get_absolute_url}}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}

