{% extends 'blog/index.html' %}

{% block content %}
<div class="d-flex flex-row">
    <div class="p-2">
        <img class='rounded mx-auto d-block article-img' src="{{ object.author.profile.image.url }}" style='width:75px; height:auto;' alt="profile_img">
    </div>
    <div class="p-2 align-self-end bg-secondary text-white rounded">
        <div class="d-flex flex-column">
            <div class="p-1">
                <small class="text-white"><b>Author: </b><a class="text-white mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author.username|capfirst }}</a></small>                        
            </div>
            <div class="p-1">
                <small class="text-white"><b>Posted: </b> {{ object.date_posted|date:'N d, Y H:i:s' }}</small>
            </div>
            <div class="p-1">
                <small class="text-white"><b>Last Updated: </b> {{ object.date_updated|date:'N d, Y H:i:s' }}</small>
            </div>
        </div>
    </div>    
</div>
<div class="d-flex flex-row">
    <div class="ml-3 p-2 align-self-end">
        {% if object.author == user %}
            <a class="btn btn-info btn-sm m-1 p-2" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm m-1 p-2" href="{% url 'post-delete' object.id %}">Delete</a>
        {% endif %}
    </div>
</div>


<div class="d-flex flex-column">
    <div class="p-2">
        <h2 class="article-title">{{ object.title|title }}</h2>
    </div>
    <div class="p-2">
        <p class="article-content">{{ object.content_post|safe }}</p>
    </div>
</div>

    
{% endblock content %}