{% extends 'blog/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="boder-bottom mb-6">Blog Post</legend> 
                {{ form.title|as_crispy_field }}
                {{ form.content_post|as_crispy_field }}
                {{ form.contact_number|as_crispy_field }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-infor" type="submit">Post</button>
            </div>
        </form>
    </div>
    
{% endblock content %}

