{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="boder-bottom mb-6">Blog Post</legend> 
                {{ form.painel|as_crispy_field }}
                {{ form.title|as_crispy_field }}
                {{ form.content|as_crispy_field }}
                {{ form.url|as_crispy_field }}
                {{ form.contact_number|as_crispy_field }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-infor" type="submit">Post</button>
            </div>
        </form>
        <!-- <div class="boder-top pt-3">
            <small class="text-muted">Already Have An Account 
                <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div> -->
    </div>
{% endblock content %}

