{% extends 'blog/index.html' %}

{% block content %}
    
    
    {% for post in posts %}
    {% if forloop.counter == 1 %}
    <img class='rounded mx-auto d-block article-img' src="{{ post.author.profile.image.url }}" style='width:75px; height:auto;' alt="profile_img">
    <small class="mx-auto d-block">Posts by - {{ view.kwargs.username|capfirst }} - {{ page_obj.paginator.count }}</small>
    {% endif %}
        <article class="media content-section"> 
            <div class="media-body">
            <div class="article-metadata">
                <div class="d-flex p-2 bg-secondary text-white rounded">
                    <smallclass="text-white"> {{ forloop.counter }} - </small>
                    <small class="text-white"><b>Author: </b><a class="text-white mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author.username|capfirst }} <i class="bx bx-link bx-tada"></i></a></small>
                    <small class="text-white "><b>Posted: </b> {{ post.date_posted|date:'N d, Y H:i:s' }}</small>
                    <small class="text-white m-4"><b>Last Updated: </b> {{ post.date_updated|date:'N d, Y H:i:s' }}</small>
                </div>
                {% if view.kwargs.username == username %}
                    <a class="btn btn-info btn-sm mt-0 mb-0" href="{% url 'post-update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
                {% endif %}
            </div>
            <h2><a class="article-title" href="{{post.get_absolute_url}}">{{ post.title|title }}</a></h2>
            <!-- <p class="article-content">{{ post.content|linebreaks|truncatewords:20 }}</p> -->
            <p class="article-content">{{ post.content_post|safe|linebreaks|truncatewords:20 }}</p>
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}<!-- Esse o objeto que nossa Views passa dentro do nosso template -->
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}<!-- page_obj.number e o numero atual da pagina -->
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}<!-- Esse o objeto que nossa Views passa dentro do nosso template -->
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a> <!-- page_obj.pagintor.num_pages Retorna o numero total de paginas -->
        {% endif %}

    {% endif %}
{% endblock content %}

<!-- django template filters -->

