{% extends 'blog/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="boder-bottom mb-6">Join Us</legend> 
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" name="submit" value="Signup" class="btn btn-outline-primary" id="submit-save">Sign up</button>
            </div>
        </form>        
    </div>
{% endblock content %}

<!-- form.email|as_crispy_field -->