
<div class="col-lg-8 mt-5 mt-lg-0">
    <form method="post" role="form" class="php-email-form">
    {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 form-group">
                {{ email_form.from_email|as_crispy_field }}
                <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" /> -->
                <div class="validate"></div>
            </div>
            <!-- <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validate"></div>
            </div> -->
        </div>
        <div class="form-group">
            {{ email_form.subject|as_crispy_field }}
            <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" /> -->
            <div class="validate"></div>
        </div>
        <div class="form-group">
            {{ email_form.message|as_crispy_field }}
            <!-- <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea> -->
            <div class="validate"></div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
    </form>
</div>